@keyframes col{
    from{color:red;}
    to {color:rgb(119, 0, 255);}
}
.text{height: 300px;
    width: 300px;
    animation: col 5s linear infinite alternate;
}
@keyframes ex{
    from{opacity: 0;}
    to {opacity: 0.8;}
}
h1{
    animation: ex 2s linear infinite alternate;
}