img{
    width: 200px;
    height: 200px;
    margin: 30px; 
}
.cat1:hover{
    transform: scale(0.5);
}
.cat2:hover{
    transform: rotate(45deg);
}
.cat3:hover{
    transform: translate(50px, 0px);
}
.cat4:hover{
    transform: skew(-20deg);
}