img{width: 200px;
    height: 200px;
    margin: 30px;
    }

.cat1{
    transform-origin: 50% 50%;
    transform: 
    perspective(600px)
    rotateX(45deg);
}
.cat2{transform-origin: 50% 50%;
    transform:
    perspective(800px)
    rotateY(35deg);
}
.cat3{
    transform-origin: 50% 50%;
    transform:
    perspective(600px)
    rotateX(45deg);
}
.cat4{
    transform-origin: 50% 50%;
    transform:
    perspective(800px)
    rotateY(-35deg)
}