aside{
    float: right;
    border: 2px solid rgb(58, 80, 58);
    width: 150px;
}
ul.nav{
    list-style-type: none;
}
ul.nav a{
    display: block;
    margin-bottom: 5px;
}
ul.nav a:link{
    color: red;
    text-decoration: none;
}
ul.nav a:visited{
    color: #8B0000;
}
ul.nav a:hover{
    color: green;
}
ul.nav a:active{
    color: rgb(184, 134, 11);
}
