@import url(imp.css) (min-width: 768px) and (max-width: 1280px);

body{
    background-color: bisque;
    display: flex;
    flex-flow: row wrap;
}
h2{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex: 0 1 100px;
}
div{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.title{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.div1{
    display: flex;
    flex-flow: column wrap;
    flex: 0 2 300px;
}
.div2{
    display: flex;
    flex-flow: column wrap;
    flex: 2 1 300px;
}
.div3{
    display: flex;
    flex-flow: column wrap;
    flex: 0 2 300px;
}



.cat{
    width: 100%;
    text-align: center;
}
.carobka{
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
}
img{
    width: 20%;
    display: flex;
    flex: 1 1 100px;
}
@media (max-width: 1280px){
    .carobka{
        flex-flow: column;
    }
    img{
        width: 100%;
    }
}



.menu{
    display: flex;
    flex: 1 1 60%;
    border: none;
}
.menu_item{
    display: flex;
    justify-content: center;
    flex: 1 1 30%;
    margin-right: 15px;
}
a{
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}
#ch{
    opacity: 0;
  }

  @media (max-width: 580px){
    .menu{
        border: none;
        position: relative;
    }
    .menu_item{
        display: block;
        position: fixed;
        width: 100%;
        left: -110%;
        border: none;
    }
    .menu_btn{
        position: relative;
        left: -10%;
    }
    .menu_btn > span::after{
        content: "\2261";
        
    }
    #ch:checked~ .menu_item{
        position: static;
    }
    #ch:checked~ .menu_item > label{
        display: block;
        margin-top: 10px;
    }
    #ch:checked~ .menu{
        visibility: visible;
        left: -2%;
    }
    #ch:checked~ .menu_btn > span::after{
        content: "\2573";
    }
}